<head>
    <link rel="stylesheet" type="text/css" href="/css/checkout.css">
</head>
<body>
<h1 class="space">Confirm Order</h1>
<div class="space">
    <a href="/order" class="btn button-coloured">Submit Order</a>
    <a href="/showcart" class="btn button-coloured">Cancel</a>
</div>
</body>
