<head>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
<div class="flex-header">
    <img class="img-fluid" src="/images/onlyDucksLogo.png">
</div>
<div class="flex-header">
    <img class="img-fluid small-header" src="/images/onlyDucksSubLogo.png">
</div>

<div class="flex-container">

    <div class="card flex-item">
        <h5 class="card-header">Shop</h5>
        <div class="card-body">
            <h5 class="card-title">Browse the shop</h5>
            <img class="img-fluid duck-space" src="/images/da_duck.jpg">
            <a href="/listprod" class="btn button-coloured">Begin Shopping</a>
        </div>
    </div>

    <div class="card flex-item">
        <h5 class="card-header">Orders</h5>
        <div class="card-body">
            <h5 class="card-title">Browse orders</h5>
            <img class="img-fluid duck-space" src="/images/many_ducks.jpg">
            <a href="/listorder" class="btn button-coloured">List Orders</a>
        </div>
    </div>

</div>
</body>
