<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/homepage.css">
    <title>Homepage</title>
</head>


<nav class="navbar navbar-expand-lg"  style="background-color: #e55701;">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1" style="color: #fff780">OnlyDucks</span>
        <div class="nav-item dropstart">
            <a class="nav-link dropdown-toggle" href="#" role="button"
               data-bs-toggle="dropdown" aria-expanded="false" style="color: #fff780">
                Pages
            </a>
            <ul class="dropdown-menu" style="background-color: #fdffc5">
                <li><a class="dropdown-item" href="">Home</a></li>
                <li><a class="dropdown-item" href="/listprod">Shop</a></li>
                <li><a class="dropdown-item" href="/listorder">Orders</a></li>
                <li><a class="dropdown-item" href="/showcart">Cart</a></li>
            </ul>
        </div>
    </div>
</nav>
<body style="color: #e55701; background-color: #fff780;">

<img src="images/onlyDucksLogo.png" class="img-fluid" alt="Bootstrap">

<div class="flex-container">

    <div class="card flex-item">
        <h5 class="card-header">Shop</h5>
        <div class="card-body">
            <h5 class="card-title">Browse the shop</h5>
            <p class="card-text">Click here to browse the shop.</p>
            <a href="/listprod" class="btn button-coloured">Begin Shopping</a>
        </div>
    </div>

    <div class="card flex-item">
        <h5 class="card-header">Orders</h5>
        <div class="card-body">
            <h5 class="card-title">Browse orders</h5>
            <p class="card-text">Click here to view all orders.</p>
            <a href="/listorder" class="btn button-coloured">List Orders</a>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>
