<head>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<div class="login-flex">

    <h3 class="space login-items">Please Login to System</h3>

    {{#if loginMessage}}
        <p class="space login-items">{{loginMessage}}</p>
    {{/if}}

    <br>
    <form name="MyForm" method=post action="/validateLogin" class="login-items">
        <table>
            <tr class="row">
                <td>
                    <div>
                        Username:
                    </div>
                </td>
                <td><input type="text" name="username" size=10 maxlength=10 class="form-control" placeholder="Username"
                           aria-label="Username"></td>
            </tr>
            <tr class="row">
                <td class="col">
                    <div>
                        Password:
                    </div>
                </td>
                <td><input type="password" name="password" size=10 maxlength="10" class="form-control"
                           placeholder="Password" aria-label="Password"></td>
            </tr>
        </table>
        <br/>
        <input class="btn button-coloured" type="submit" name="Submit2" value="Log In">
    </form>

</div>
