<head>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<div class="login-flex">
    <h3 class="space login-items">Please Login to System</h3>
    {{#if loginMessage}}
        <div class="alert alert-warning error-message" role="alert">
            {{loginMessage}}
        </div>
    {{/if}}
    <br>
    <form name="MyForm" method=post action="/validateLogin" class="login-items">
        <table>
            <tr class="row">
                <td>
                    <div>
                        Username:
                    </div>
                </td>
                <td><input type="text" name="username" maxlength=20 class="form-control" placeholder="Username"
                           aria-label="Username" required></td>
            </tr>
            <tr class="row">
                <td class="col">
                    <div>
                        Password:
                    </div>
                </td>
                <td><input type="password" name="password" size=10 maxlength="30" class="form-control"
                           placeholder="Password" aria-label="Password" required></td>
            </tr>
        </table>
        <br/>
        <div class="login-buttons">
            <a href="/signup" class="btn button-coloured">Sign Up</a>
            <input class="btn button-coloured" type="submit" name="Submit2" value="Log In">
        </div>
    </form>

</div>
