.space{
    margin: 1rem;
}

.customer-display{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.table-item{
    max-width: 500px;
}

.button-box{
    display: flex;
    flex-direction: row;
    max-width: 550px;
    justify-content: space-between;
}
